<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            REACTIVE FORM
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form">
        <ion-item>
            <ion-label position="stacked">Aluno</ion-label>
            <ion-input type="text" formControlName="aluno"></ion-input>
        </ion-item>

        <!-- VALIDAÇÕES  Aluno -->
        <ion-item *ngIf="form.controls.aluno.invalid && (form.controls.aluno.dirty || form.controls.aluno.touched)" color="danger">
            <div *ngIf="form.controls.aluno?.errors.required">
                Campo Aluno Obrigatório
            </div>
        </ion-item>
        <!-- FINAL DE VALIDAÇÕES -->
        <ion-item>
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <!-- VALIDAÇÕES  Email -->
        <ion-item *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
            <div *ngIf="form.controls.email?.errors.required">
                Campo Email Obrigatório
            </div>
        </ion-item>
        <!-- FINAL DE VALIDAÇÕES -->

        <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input type="number" formControlName="telefone"></ion-input>
        </ion-item>

        <!-- VALIDAÇÕES  Telefone -->
        <ion-item *ngIf="form.controls.telefone.invalid && (form.controls.telefone.dirty || form.controls.telefone.touched)" color="danger">
            <div *ngIf="form.controls.telefone?.errors.required">
                Campo Telefone Obrigatório
            </div>
        </ion-item>
        <!-- FINAL DE VALIDAÇÕES -->



        <ion-item>
            <ion-label position="stacked">Data de Nascimento</ion-label>
            <ion-input type="date" formControlName="dtnascimento"></ion-input>
        </ion-item>

        <!-- VALIDAÇÕES  Data de Nascimento -->
        <ion-item *ngIf="form.controls.dtnascimento.invalid && (form.controls.dtnascimento.dirty || form.controls.dtnascimento.touched)" color="danger">
            <div *ngIf="form.controls.dtnascimento?.errors.required">
                Campo dtnascimento Obrigatório
            </div>
        </ion-item>
        <!-- FINAL DE VALIDAÇÕES -->



        <ion-item>
            <ion-label position="stacked">Nome do Pai</ion-label>
            <ion-input type="text" formControlName="nomepai"></ion-input>
        </ion-item>

        <!-- VALIDAÇÕES  Nome do Pai -->
        <ion-item *ngIf="form.controls.nomepai.invalid && (form.controls.nomepai.dirty || form.controls.nomepai.touched)" color="danger">
            <div *ngIf="form.controls.nomepai?.errors.required">
                Campo Nome do Pai Obrigatório
            </div>
        </ion-item>
        <!-- FINAL DE VALIDAÇÕES -->




        <ion-item>
            <ion-label position="stacked">Nome da Mãe</ion-label>
            <ion-input type="text" formControlName="nomemae"></ion-input>
        </ion-item>

        <!-- VALIDAÇÕES  Nome da Mãe -->
        <ion-item *ngIf="form.controls.nomemae.invalid && (form.controls.nomemae.dirty || form.controls.nomemae.touched)" color="danger">
            <div *ngIf="form.controls.nomemae?.errors.required">
                Campo Nome do Pai Obrigatório
            </div>
        </ion-item>
        <!-- FINAL DE VALIDAÇÕES -->





        <ion-item>
            <ion-button [disabled]="!form.valid" (click)="salvar()" color="primary">Salvar Dados</ion-button>

            <!-- <button ion-button [disabled]="!form.valid" (click)="salvar()">Salvar</button> -->
        </ion-item>

        <ion-item>
            <p>{{ form.value | json }}</p>

        </ion-item>

    </form>


</ion-content>